{% extends 'base.html.twig' %}

{% block body %}
    <form method="post">
        <h2 class="bubble-title">Réinisialisation du mot de passe</h2>
        <label for="inputPassword">Votre email</label>
        <input type="email" name="email" class="form-control" required>
        <div class="text-center mt-2">
            <button class="btn btn-lg btn-success mt-2 ml-0" type="submit">
                Envoyer !
            </button>
        </div>
    </form>
{% endblock %}

