{% extends 'base.html.twig' %}

{% block body %}
    <h1>Modification de mon mot de passe</h1>
    <div class="container">
        {{ form_start(form) }}
        {{ form_end(form) }}
    </div>
{% endblock %}


