
    {{ form_start(message_form) }}

<div class="form-group">
    {{ form_row(message_form.content) }}
</div>
<div class="text-right">
    <button type="submit" class="btn btn-info mb-3">
        Envoyer
    </button>
</div>
{{ form_end(message_form) }}
    {# fin formulaire d'envoi message et debuit fil de conversation #}




